# Public type declaration for offline_proc_service binder service
type offline_proc_service, domain;
type offline_proc_service_exec, exec_type, vendor_file_type, file_type;
